.content-box-one {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 4, 58);
    height: 100px;
    max-width: 100%;
}

body {
    background: url("../image/weather.jpg");
}

#searchInput {
    width: 300px;
}

#searchButton, #clearButton {
    width: 300px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 4, 58);
    border-radius: 10px;
}

#weatherInfo {
    
    margin-left: 100px;
    border-radius: 10px;
    width: 600px;
    height: 530px;
    padding: 100px;
    background-color:rgba(255, 255, 255, 0.767);
    font-size: 40px;
    
}

li {
    border-radius: 10px;
   list-style: none;
    margin-bottom: 5px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.774);
    color: black;
    font-size: 20px;
 
}

#weatherData {
    margin-top: 50px;
    margin-left: 50px;
}